/* ======== ESTILO GLOBAL ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center; /* Centraliza horizontal */
    align-items: center;     /* Centraliza vertical */

    background: url('/Imagens/bg-logistica.png') no-repeat center center fixed;
    background-size: cover;
}



/* ======== CONTAINERS ======== */
.container {
    max-width: 900px;
    margin: auto;
    background: rgba(0, 0, 0, 0.36);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(6px);
}

.hidden {
    display: none;
}

/* ======== CABEÇALHO ======== */
.header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.header p {
    color: #555;
    margin-bottom: 25px;
}

/* ======== FORMULÁRIOS ======== */
.form h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* ======== GRID RESPONSIVO ======== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

/* ======== BOTÃO ======== */
.btn {
   width: 100%;
    padding: 14px;
    margin-top: 25px;
    background: #ff5757;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
}

.btn:hover {
    background: #ff3030;
    transform: scale(1.02);
}
