body { background: #f3f3f3; padding: 20px; }
.card-box {
    background: white; padding: 20px; border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 { font-weight: bold; }

.kpi-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.kpi-value {
    font-size: 2.3rem;
    font-weight: bold;
}

.kpi-title {
    font-size: .9rem;
    color: #666;
}

#graficoArmazem {
    width: 300px !important;
    height: 300px !important;
    margin: auto;
}